/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";
 @import "grayscale";

.book-section {
	padding: 5rem 5rem;
}

.modal-dialog {
  max-width: 90%;
}

.modal-header {
  border-bottom: none;
}

.t {
  display: table;
  width: 100%;
  height: auto;
}

.tc {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.rel {
  position: relative;
}

.book {
  margin: 0 auto;
  width: 90%;
  height: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.book .page {
  height: auto;
}

.book .page img {
  max-width: 100%;
  height: auto;
}


//=======box-shadow for books on front page

// #pj-section-pic-1-div {
//   transition: 0.66s;
// }

#pj-section-pic-1-div {
  box-shadow: 1px 1px 18px rgba(0,0,0,1.0);
}

.hcover {
  box-shadow: 1px 1px 18px rgba(0,0,0,1.0);
}