.modal-content {
    background-color: rgba(255, 255, 255, 0.8);

    &.email {
        background-color: rgba(255, 255, 255, 0.92);
        font-family: Nunito;
    }
}

.modal-dialog {
    max-width: 90%;
    font-family: "Comic Sans MS", "Chicago";
    
    &.email {
        max-width: 1200px;
    }
}

.modal-header {
    border-bottom: none;

    .clickMeText {
        margin-left: 50%;
        font-size: 2vw;
    }

    .t {
        display: table;
        width: 100%;
        height: auto;

        .tc {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
    
            &.rel {
                position: relative;
            }
        }
    }
}